body{
background-color: green;
}
.bg-box{

    width: 1650px;
    height: 910px;
    background-image: url(./photo/pole-zelen-trava-dom-derevya.jpg), url(./photo/green-png-44873.png); 
    background-repeat: no-repeat, repeat-x ;
    background-position: center, left bottom ;
    background-size: 700px, 400px;
}
