body{
background-color: green;
}
.bg-box{
    width: 1200px;
    height: 700px;
    background-image: url(./photo/pole-zelen-trava-dom-derevya.jpg), url(./photo/green-png-44873.png); 
    background-repeat: no-repeat, repeat;
    background-position: 550px 250px, 100px 0px ;
    
}
